/* =================================================================================================== */
/* xs */

#dashboard {
    display: flex;
    margin-top: 40px;
    align-items: center;
    gap: 20px;
}

/* =================================================================================================== */
/* sm */
/* =================================================================================================== */
/* md */
/* =================================================================================================== */
/* lg */
/* =================================================================================================== */
/* xl */