/* =================================================================================================== */
/* xs */

.statistics-card {
    flex-basis: 25%;
    position: relative;
    font-size: 1rem;
    border-radius: 50px 20px 20px;
    padding: 15px;
    color: #333;
}

.yellow-background {
    background: linear-gradient(to right, #FF8008, #FFC837);
}

.purple-background {
    background: linear-gradient(to right, #654ea3, #eaafc8);
}

.green-background {
    background: linear-gradient(to right, #56ab2f, #a8e063);
}

.orang-background {
    background: linear-gradient(to right, #ff4b1f, #ff9068);
}

.statistics-card>i {
    position: absolute;
    top: -20px;
    left: 40px;
    background: greenyellow;
    width: 55px;
    height: 55px;
    font-size: 1.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics-card .card-title {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.statistics-card .daily-hgroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistics-card .count-title {
    font-size: 1.7em;
}

.statistics-card .today-title {
    font-size: 0.9em;
    background: springgreen;
    border-radius: 10px;
    padding: 5px 10px;
    width: fit-content;
}

.statistics-card .timeframes-hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics-card .timeframes-hgroup:not(.statistics-card .timeframes-hgroup:last-of-type) {
    margin-bottom: 10px;
}

.statistics-card .timeframes-hgroup :is(.timeframe-title, p) {
    margin-bottom: unset;
}

.statistics-card .timeframes-hgroup .timeframe-title {
    background: turquoise;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 0.9em;
}

/* =================================================================================================== */
/* sm */
/* =================================================================================================== */
/* md */
/* =================================================================================================== */
/* lg */
/* =================================================================================================== */
/* xl */